###> symfony/framework-bundle ###
.env
.env.local
.env.*.local
.env.dev

/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/node_modules/
###< symfony/framework-bundle ###

.idea/
.vscode/
.DS_Store
.php-cs-fixer.cache

###> lexik/jwt-authentication-bundle ###
/config/jwt/dev/*.pem
/config/jwt/prod/*.pem
###< lexik/jwt-authentication-bundle ###
